@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glass-panel {
  @apply bg-white/40 dark:bg-[#0a1128]/40 backdrop-blur-xl border border-white/50 dark:border-white/10 shadow-xl;
}

.snap-section {
  @apply min-h-screen snap-start flex flex-col justify-center relative py-24;
}
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
